@model FootballProject.Models.FootballTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FootballTeam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfTheTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfTheTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearFound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stadium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
