@model IEnumerable<FootballProject.Models.FootballTeam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">

        <th>
            @Html.DisplayNameFor(model => model.NameOfTheTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearFound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stadium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfTheTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
